$black: #1c1d1d;
$white: white;
$lightGrey: lightgrey;
$greyBody: #fafafa;
$pink: #fac8bf;
$greyText: #aaaaaa;

/* SKIN COLORS */

$tresClaire: #fdefe4;
$claire: #f4cfb4;
$medium: #ccaa84;
$mate: #ccaa84;
$foncee: #36231c;

/* HAIR COLORS */

$blond: #efe0b7;
$chatain: #9e673e;
$roux: #852411;
$brun: #2f2116;
$noir: #0c0805;
