.owl-theme .owl-controls .owl-buttons div{
  color: #FFF !important;
  display: inline-block !important;
  zoom: 1 !important;
  margin: 0px !important;
  padding: 0px 10px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  background: #1C1D1D !important;
  filter: Alpha(Opacity=50) !important;
  opacity: 1 !important;
  font-size: 20px !important;
  height: 35px !important;

  transition: 0.5s;

  &:hover{
    opacity: 0.3 !important;
  }
}

.owl-buttons .owl-next {
  right: 0px !important;
  top: 0 !important;
  bottom: 0 !important;
  margin: auto;
}

.owl-buttons .owl-prev {
  left: 0px !important;
  margin: auto;
  top: 0 !important;
  bottom: 0 !important;
}

.newsletter_index{
  padding: 15px;
  width: calc(100% - 30px);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "josefin Sans";
  button{
    background-color: #1c1d1d;
    color: #ffffff;
    border: 2px solid #1c1d1d;
    padding: 15px 20px 10px 20px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0 20px;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 18px;
    transition: 0.5s;
    &:hover{
      background-color: #fff;
      color: #1c1d1d;
    }
  }
}

.player{
  position: relative;
  width: 100%;
  background: url("http://img4.hostingpics.net/pics/397389pj615da37fspringlook2016coverprehome8494611953520089099ConvertImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    img{
      width: 20%;
      max-width: 150px;
      opacity: 0.8;
    }
  }
}

@media screen and (min-width: 768px) {
  .carousel-wrapper-large {
    display: block !important;
  }

  .carousel-wrapper-mobile {
    display: none !important;
  }
}

.carousel-wrapper-large {
  display: none;
}

.carousel-wrapper-mobile {
  display: block;
}
.owl-item {
  width:100%;
}
@media screen and (max-width: 767px) {
}

.player_popin{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  position: fixed;
  top: 0;
  z-index: 9999;
  padding: 100px 50px;
  .cross{
    width: 50px;
    position: fixed;
    right: 50px;
    top: 25px;
  }
  .cross.white{
    background-color: transparent;
  }
  .video{
    width: calc(100% - 100px);
    height: calc(100% - 200px);
  }
}
@media screen and (max-width: 1024px) {
  .newsletter_index button{
    margin: 0 10px;
  }
  .newsletter_index{
    font-size: 13px;
  }
}

.responsive_menu{
  .newsletter_index{
    button{
      margin: auto;
      font-size: 14px!important;
      min-height: 60px;
      line-height: 30px;
      padding: 0;
      padding-left: 10px;
      padding-right: 30px;
      width: 100%;
      text-align: left;
      position: relative;

      span.tcenter{
        display: inline-block;
        vertical-align: middle;
        line-height: 21px;
      }

      &:before{
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 5px;
        width: 35px;
        height: 35px;

        background: url('../../img/fleche.png') center center;
        background-size: 100%;

      }
    }
  }
}

@media screen and(max-width: $medium){
  .newsletter_index.desktop{
    display: none;
  }
}
