$font: 'Josefin Sans', sans-serif;
$font_text: "Times New Roman";
$black: #1c1d1d;
$grey: #919191;
$border : 2px solid $black;

.search_form{
  position: fixed;
  z-index: 500;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  form{
    width: 50%;
    margin: 10% auto 0 auto;
    border: $border;
    text-align: center;
    padding: 5%;
    background-color: #ffffff;
    p{
      margin: 70px 0 0 0;
      text-align: left;
      color: $grey;
      font-style : italic;
      font-size: 18px;
      font-family: $font_text;
    }
  }
  .checkboxes{
    width: 90%;
    margin: 0 auto;
  }
  input[type="text"], input[type="text"]:focus, input[type="text"]:active{
    border: 0;
    border-bottom: $border;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    font-family: $font_text;
  }
  input[type="checkbox"]{
    position: absolute;
    left: -9999px;
  }
  label{
    display: block;
    position: relative;
    width: calc((100% - 252px) / 3);
    border: $border;
    float: left;
    margin: 20px;
    padding: 10px 20px 10px 20px;
    color: $black;
    background-color: transparent;
    cursor: pointer;
    clear: inherit;
    letter-spacing: 2px;
    font-size: 16px;
  }
  #close_checkbox{
    position: fixed;
    right: 30px;
    top: 30px;
    background-color: transparent;
    width: 50px;
    height: 50px;
  }
  input:checked + label {
    background-color: $black;
    color: #fff;
  }
  #search_validation{
    background: $black;
    color: #fff;
    width: 35%;
    padding: 15px 20px 15px 20px;
    border: $border;
    font-weight: 600;
    margin: 10px 0 0 0;
    letter-spacing: 2px;
    font-family: $font;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
      background-color: #fff;
      color: $black;
    }
  }
}
@media screen and (max-width: 1300px) {
  .search_form{
    label{
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 1092px) {
  .search_form{
    .checkboxes{
      display: none;
    }
    &>div>p{
      display: none;
    }
    #search_validation{
      width: 80%;
      font-size: 16px;
      margin: 50px 0 20vh 0;
    }
    input[type="text"], input[type="text"]:focus, input[type="text"]:active{
      margin: 20vh 0 0 0;
    }
  }
}


.search_form_wrapper{
  display: none;
}