@font-face {
  font-family: 'Didot';
  src: url('../../font/didot/DidotLTPro-Roman.eot');
  src: url('../../font/didot/DidotLTPro-Roman.eot?#iefix') format('embedded-opentype'),
  url('../../font/didot/DidotLTPro-Roman.woff2') format('woff2'),
  url('../../font/didot/DidotLTPro-Roman.woff') format('woff'),
  url('../../font/didot/DidotLTPro-Roman.ttf') format('truetype'),
  url('../../font/didot/DidotLTPro-Roman.svg#DidotLTPro-Roman') format('svg');
}

@font-face {
  font-family: 'DidotBold';
  src: url('../../font/didotBold/DidotLTPro-Bold.eot');
  src: url('../../font/didotBold/DidotLTPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../font/didotBold/DidotLTPro-Bold.woff2') format('woff2'),
  url('../../font/didotBold/DidotLTPro-Bold.woff') format('woff'),
  url('../../font/didotBold/DidotLTPro-Bold.ttf') format('truetype'),
  url('../../font/didotBold/DidotLTPro-Bold.svg#DidotLTPro-Bold') format('svg');
}

@font-face {
  font-family: 'DidotItalic';
  src: url('../../font/didotItalic/DidotLTPro-Italic.eot');
  src: url('../../font/didotItalic/DidotLTPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('../../font/didotItalic/DidotLTPro-Italic.woff2') format('woff2'),
  url('../../font/didotItalic/DidotLTPro-Italic.woff') format('woff'),
  url('../../font/didotItalic/DidotLTPro-Italic.ttf') format('truetype'),
  url('../../font/didotItalic/DidotLTPro-Italic.svg#DidotLTPro-Italic') format('svg');
}

@font-face {
  font-family: 'Josefin';
  src: url('../../font/josefin/JosefinSans.eot');
  src: url('../../font/josefin/JosefinSans.eot?#iefix') format('embedded-opentype'),
  url('../../font/josefin/JosefinSans.woff2') format('woff2'),
  url('../../font/josefin/JosefinSans.woff') format('woff'),
  url('../../font/josefin/JosefinSans.ttf') format('truetype'),
  url('../../font/josefin/JosefinSans.svg#JosefinSans') format('svg');
}

@font-face {
  font-family: 'JosefinBold';
  src: url('../../font/josefinBold/JosefinSans-Bold.eot');
  src: url('../../font/josefinBold/JosefinSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../font/josefinBold/JosefinSans-Bold.woff2') format('woff2'),
  url('../../font/josefinBold/JosefinSans-Bold.woff') format('woff'),
  url('../../font/josefinBold/JosefinSans-Bold.ttf') format('truetype'),
  url('../../font/josefinBold/JosefinSans-Bold.svg#JosefinSans-Bold') format('svg');
}