$font: 'Josefin Sans', sans-serif;
$black: #1c1d1d;
$grey: #919191;

@font-face {
  font-family: 'didot';
  src: url('/bundles/pslcore/font/didot.eot'),
  url('/bundles/pslcore/font/didot.woff2') format('woff2'),
  url('/bundles/pslcore/font/didot.woff') format('woff'),
  url('/bundles/pslcore/font/didot.ttf')  format('truetype');
}

.search-field{
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #d1d1d1;
  position: relative;
  input[type="text"]{
    width: 554px;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border: 0;
    color: #aaa;
    font-family: "Times New Roman";
    font-size: 20px;
    font-style: italic;
  }
  input[type="submit"] {
    border-radius: 0px;
    width: 189px;
    height: 52px;
    line-height: 50px;
    border: 2px solid $black;
    background-color: #1c1d1d;
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      background-color: #fff;
      color: $black;
    }
  }
  img{
    position: absolute;
    left: 2px;
    top: 1px;
  }
}
.product {
  width: 70%;
  margin: 30px auto 0 auto;
  font-family: $font;
  .illustration, .info {
    background-color: #fff;
    width: calc(50% - 70px);
    float: left;
    margin: 10px 5px 10px 5px;
    padding: 30px;
    min-height: 600px;
  }
  .illustration{
    text-align: center;
    img{
      margin-top: 15%;
    }
  }
  .info{
    span{
      color: $grey;
      letter-spacing: 2px;
      font-size: 14px;
    }
    .title + p{
      color: $black;
      font-family: $font;
      font-size: 20px;
      font-weight: 400;
      border-bottom: 1px solid #d1d1d1;
      padding-bottom: 20px;
      margin-bottom: 40px;
      letter-spacing: 2px;
      span{
        float: right;
        img{
          width: 25px;
          margin-top: -5px;
        }
      }
    }
    h2{
      letter-spacing: 2px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 23px;
    }
    ul{
      list-style: none;
      padding: 0;
      li{
        margin: 10px 0 10px 0;
        font-size: 18px;
        font-weight: 600;
        span{
          color: #d1d1d1;
          font-family: "Times New Roman";
          font-weight: 400;
          letter-spacing: inherit;
          font-size: 18px;
        }
      }
    }
    button{
      background-color: #ff5959;
      margin-top: 20px;
      height: 55px;
      width: 300px;
      text-align: center;
      color: #fff;
      border: 2px solid #ff5959;
      cursor: pointer;
      font-family: $font;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: 600;
      transition: 0.5s;
      &:hover{
        background-color: #fff;
        color: #ff5959;
      }
    }
    a{
      color: #d1d1d1;
      text-decoration: underline;
      transition: 0.5s;
      font-size: 18px;
      margin-left: 5%;
      &:hover{
        color: $black
      }
    }
  }
  .description{
    clear: both;
    width: calc(100% - 70px);
    background-color: #fff;
    padding: 30px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Times New Roman";
    margin: 5px;
    h3{
      font-family: "didot";
      font-weight: 400;
      font-size: 26px;
      text-transform: uppercase;
      border-bottom: 1px solid #d1d1d1;
      padding-bottom: 20px;
      letter-spacing: 2px;
    }
    p{
      margin-bottom: 50px;
    }
  }
  .nav_review{
    text-align: center;
    margin: 15px 0;
    button{
      background-color: #fff;
      border: 2px solid #d1d1d1;
      height: 60px;
      width: calc((100% / 3) - 3px);
      cursor: pointer;
      color: #ff5959;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 2px;
    }
    button + button{
      border-left: none;
    }
    .active + button{
      border-left: 2px solid #d1d1d1;
    }
    .active{
      border: 2px solid #ff5959;
      background-color: #ff5959;
      color: #fff;
    }
  }
  .right, .left{
    margin: 5px;
    width: calc(50% - 70px);
    float: left;
    background-color: #fff;
    padding: 30px;
    h4{
      font-family: 'didot';
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 2px;
      margin-top: 10px;
      min-height: 70px;
    }
    h5{
      font-family: $font;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 2px;
      border-bottom: 1px solid #d1d1d1;
      padding-bottom: 15px;
      div{
        height: 30px;
        width: 30px;
        background-color: #d1d1d1;
        float: left;
        border-radius: 25px;
        text-align: center;
        margin-top: -8px;
        margin-right: 15px;
        img{
          width: 15px;
          margin-top: 7px;
        }
      }
    }
    p{
      line-height: 22px;
      margin-bottom: 35px;
    }
  }
  .community_review{
    background-color: #fff;
    margin-top: 15px;
    padding: 35px;
    text-align: center;
    .review + p{
      margin: 50px 0;
    }
    button{
      width: 350px;
      height: 70px;
      border: 2px solid #ff5959;
      background-color: #ff5959;
      color: #fff;
      text-transform: uppercase;
      font: 20px $font;
      cursor: pointer;
      margin-bottom: 25px;
      transition: 0.5s;
      &:hover{
        background-color: #fff;
        color: #ff5959;
      }
    }
    h4{
      text-transform: uppercase;
      font: 42px 'didot';
      font-weight: 400;
    }
    &>div{
      position: relative;
      width: 450px;
      margin: 0 auto 50px auto;
      img{
        margin: 0 2px;
      }
      img + p{
        position: absolute;
        text-transform: uppercase;
        text-decoration: underline;
        top: 0;
        right: 0;
        color: $black;
      }
      p{
        color: #d1d1d1;
        font-size: 18px;
      }
    }
    .review{
      width: 90%;
      margin: 20px auto;
      border: 2px solid #d1d1d1;
      min-height: 280px;
      position: relative;
      .content{
        padding: 20px 20px 60px 20px;
        width: calc(100% - 200px);
        float: right;
        .title{
          width: 100%;
          border-bottom: 1px solid #d1d1d1;
          padding: 5px 0 15px 0;
          p{
            width: 150px;
            float: left;
            margin: 0;
            text-transform: uppercase;
            color: $black;
            font: 18px $font;
          }
          span{
            float: right;
            img{
              width: 20px;
            }
          }
        }
        .useful{
          text-align: right;
          position: absolute;
          bottom: 20px;
          right: 20px;
          span{
            color: #d1d1d1;
            margin-right: 10px;
          }
          button{
            border: 2px solid $black;
            background-color: $black;
            color: #fff;
            width: 60px;
            height: 30px;
            text-transform: uppercase;
            cursor: pointer;
            font: 16px $font;
            line-height: 30px;
            margin: 0;
            &:hover{
              background-color: #fff;
              color: $black;
            }
          }
        }
        p{
          text-align: left;
          color: $black;
          font: 16px "Times New Roman";
          line-height: 22px;
        }
      }
      .header{
        background-color: #d1d1d1;
        width: 150px;
        float: left;
        height: 100%;
        position: absolute;
        .profile_img{
          width: 100px;
          height: 100px;
          border-radius: 100px;
          background-color: #fff;
          margin: 20px auto 0 auto;
          img{
            margin-top: 10px;
          }
        }
        p{
          margin: 0;
          color: $black;
        }
        .user_name{
          font: 16px $font;
        }
        .lvl{
          width: 80%;
          margin: 5px auto 10px auto;
          border-bottom: 1px solid $black;
          font: 16px $font;
          font-weight: 600;
          font-style: italic;
          padding-bottom: 20px;
        }
        .n_review, .review_useful{
          margin: 25px auto;
          text-align: left;
          width: 80%;
          font: 16px $font;
          img{
            margin-bottom: -3px;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .your_review{
    background-color: #fff;
    padding: 35px;
    margin-top: 15px;
    input[type="submit"] {
      background-color: #ff5959;
      margin-top: 20px;
      height: 55px;
      width: 300px;
      text-align: center;
      color: #fff;
      border: 2px solid #ff5959;
      cursor: pointer;
      font-family: $font;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: 600;
      transition: 0.5s;
      &:hover {
        background-color: #fff;
        color: #ff5959;
      }
    }
    .review_header {
      position: relative;
      width: calc(80% + 40px);
      margin: 25px auto;
      img {
        width: 130px;
        float: left;
        margin: 0 20px 25px 0;
      }
      span{
        position: absolute;
        left: 150px;
        top: 90px;
        img{
          width: 30px;
          margin: 3px;
        }
        p{
          margin: 5px 20px;
          font-weight: 600;
          font-style: italic;
        }
      }
      p{
        width: 250px;
        float: left;
        text-align: left;
        line-height: 25px;
        font-size: 18px;
      }
    }
    h4{
      font-family: 'didot';
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 2px;
      margin-top: 10px;
    }
    &>div{
      border: 1px solid #d1d1d1;
    }
    form{
      text-align: center;
      p{
        text-align: right;
        width: calc(80% + 40px);
        margin: 0px auto 20px auto;
      }
      input, textarea{
        width: 80%;
        margin: 15px auto;
        padding: 20px;
        font: 18px $font;
      }
      #review_content{
        height: 250px;
        line-height: 25px;
      }
    }
  }
}
@media screen and (max-width: 1500px) {
  .product{
    width: 85%;
  }
}
@media screen and (max-width: 1300px) {
  .product{
    width: 95%;
  }
}
@media screen and (max-width: 1092px) {
  .product{
    .illustration, .info {
      width: calc(100% - 70px);
      min-height: inherit;
    }
    .illustration{
      img{
        margin-top: 4%;
      }
    }
  }
  .search-field{
    display: none;
  }
}
