/*------------------------------------------------------------------
SETTINGS
--------------------------------------------------------------------*/
/*------------------------------------------------------------------
MIXINS SASS
--------------------------------------------------------------------*/
/*------------------------------------------------------------------
PLACEHOLDER SASS
--------------------------------------------------------------------*/
.list-choice-avis {
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

#labox-page #content-coffret, #labox-page #abonnement-type {
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

/*------------------------------------------------------------------
GENERAL STYLE
--------------------------------------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  background-color: #fafafa; }

a {
  text-decoration: none;
  color: inherit; }

p {
  font-family: 'Times'; }

li {
  list-style: none; }

section {
  float: left;
  width: 100%; }

#page_content_wrapper {
  max-width: 1425px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  padding: 0 60px; }

.imgFullWidth {
  width: 100%; }

.didot-italic {
  font-family: 'DidotItalic'; }

@media only screen and (max-width: 767px) {
  #page_content_wrapper {
    width: 100%;
    margin-top: 0;
    padding: 0 30px 0 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; } }
@media only screen and (max-width: 960px) and (min-width: 768px) {
  #page_content_wrapper {
    width: 100%;
    margin-top: 0;
    padding: 0 30px 0 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; } }
/*------------------------------------------------------------------
PART
--------------------------------------------------------------------*/
@font-face {
  font-family: 'Didot';
  src: url("../../font/didot/DidotLTPro-Roman.eot");
  src: url("../../font/didot/DidotLTPro-Roman.eot?#iefix") format("embedded-opentype"), url("../../font/didot/DidotLTPro-Roman.woff2") format("woff2"), url("../../font/didot/DidotLTPro-Roman.woff") format("woff"), url("../../font/didot/DidotLTPro-Roman.ttf") format("truetype"), url("../../font/didot/DidotLTPro-Roman.svg#DidotLTPro-Roman") format("svg"); }
@font-face {
  font-family: 'DidotBold';
  src: url("../../font/didotBold/DidotLTPro-Bold.eot");
  src: url("../../font/didotBold/DidotLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../font/didotBold/DidotLTPro-Bold.woff2") format("woff2"), url("../../font/didotBold/DidotLTPro-Bold.woff") format("woff"), url("../../font/didotBold/DidotLTPro-Bold.ttf") format("truetype"), url("../../font/didotBold/DidotLTPro-Bold.svg#DidotLTPro-Bold") format("svg"); }
@font-face {
  font-family: 'DidotItalic';
  src: url("../../font/didotItalic/DidotLTPro-Italic.eot");
  src: url("../../font/didotItalic/DidotLTPro-Italic.eot?#iefix") format("embedded-opentype"), url("../../font/didotItalic/DidotLTPro-Italic.woff2") format("woff2"), url("../../font/didotItalic/DidotLTPro-Italic.woff") format("woff"), url("../../font/didotItalic/DidotLTPro-Italic.ttf") format("truetype"), url("../../font/didotItalic/DidotLTPro-Italic.svg#DidotLTPro-Italic") format("svg"); }
@font-face {
  font-family: 'Josefin';
  src: url("../../font/josefin/JosefinSans.eot");
  src: url("../../font/josefin/JosefinSans.eot?#iefix") format("embedded-opentype"), url("../../font/josefin/JosefinSans.woff2") format("woff2"), url("../../font/josefin/JosefinSans.woff") format("woff"), url("../../font/josefin/JosefinSans.ttf") format("truetype"), url("../../font/josefin/JosefinSans.svg#JosefinSans") format("svg"); }
@font-face {
  font-family: 'JosefinBold';
  src: url("../../font/josefinBold/JosefinSans-Bold.eot");
  src: url("../../font/josefinBold/JosefinSans-Bold.eot?#iefix") format("embedded-opentype"), url("../../font/josefinBold/JosefinSans-Bold.woff2") format("woff2"), url("../../font/josefinBold/JosefinSans-Bold.woff") format("woff"), url("../../font/josefinBold/JosefinSans-Bold.ttf") format("truetype"), url("../../font/josefinBold/JosefinSans-Bold.svg#JosefinSans-Bold") format("svg"); }
.header {
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #1c1d1d;
  color: white;
  margin-bottom: 60px;
  position: relative;
  text-transform: uppercase;
  font-family: 'JosefinBold';
  letter-spacing: 1px; }
  .header:before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    background-color: black;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.checkbox {
  margin-bottom: 15px; }
  .checkbox label {
    display: inline-block;
    padding-left: 40px;
    position: relative;
    height: 25px;
    line-height: 25px;
    text-transform: none;
    cursor: pointer; }
    .checkbox label:before {
      box-sizing: border-box;
      content: '';
      position: absolute;
      left: 0px;
      width: 25px;
      height: 25px;
      border: solid 2px #1c1d1d;
      background-color: white;
      transition: 0.5s; }
    .checkbox label:after {
      content: '';
      width: 25px;
      height: 25px;
      position: absolute;
      left: 0px;
      top: 0px;
      background: url("../../img/checked.png") no-repeat center center;
      background-size: 17px 12px;
      -moz-transform: scale(0);
      -webkit-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.2s ease 0s;
      -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s; }
  .checkbox input {
    position: absolute;
    left: -999em; }
    .checkbox input:checked + label:before {
      background-color: #1c1d1d; }
    .checkbox input:checked + label:after {
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

.input {
  margin-top: 10px; }

input[type="text"], textarea, select, input[type="email"], input[type="tel"], input[type="url"], input[type="date"], input[type="password"] {
  display: block;
  outline: none;
  border: solid 1px lightgrey;
  padding: 10px;
  font-family: 'Josefin';
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }
  input[type="text"]:focus, textarea:focus, select:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="date"]:focus, input[type="password"]:focus {
    border: solid 1px lightgrey;
    -webkit-box-shadow: 0px 0px 4px 1px lightgrey;
    -moz-box-shadow: 0px 0px 4px 1px lightgrey;
    -ms-box-shadow: 0px 0px 4px 1px lightgrey;
    box-shadow: 0px 0px 4px 1px lightgrey; }

.submit {
  margin-top: 15px; }

button[type="submit"] {
  letter-spacing: 2px;
  font-family: 'JosefinBold';
  padding: 10px 20px;
  background-color: #1c1d1d;
  color: white;
  border: solid 2px #1c1d1d;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s; }
  button[type="submit"]:hover {
    color: #1c1d1d;
    background-color: transparent; }

label {
  font-family: 'Josefin';
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
  margin-bottom: 15px;
  margin-top: 17px; }

input {
  font-family: 'Josefin';
  color: #1c1d1d;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-webkit-input-placeholder {
  text-transform: uppercase; }

:-moz-placeholder {
  /* Firefox 18- */
  text-transform: uppercase; }

::-moz-placeholder {
  /* Firefox 19+ */
  text-transform: uppercase; }

:-ms-input-placeholder {
  text-transform: uppercase; }

select {
  width: 100%;
  height: 33px;
  border-radius: 0px;
  border: none;
  background: none;
  border: solid 1px lightgray;
  -webkit-appearance: button;
  -moz-appearance: none;
  background-image: url("../../img/select.png");
  background-position: 97% center;
  background-repeat: no-repeat;
  font-family: 'Josefin';
  color: #aaaaaa;
  text-transform: uppercase; }

.fullInput {
  width: 100%; }

.midInput {
  width: 48%;
  float: left; }

h1 {
  font-family: 'Didot';
  font-weight: 400 !important; }

h2 {
  font-family: 'DidotBold';
  font-weight: 400 !important; }
  h2 a {
    color: #1c1d1d;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none; }
    h2 a:hover {
      color: #fac8bf; }

h3 {
  font-family: 'DidotItalic';
  font-weight: 400 !important; }

body.overflow {
  overflow: hidden !important; }

.loader {
  background-color: white;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; }
  .loader .animation {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 100%;
    -webkit-animation: square 3s infinite;
    -moz-animation: square 3s infinite;
    -o-animation: square 3s infinite;
    -ms-animation: square 3s infinite;
    animation: square 3s infinite; }
    .loader .animation:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid black;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border-radius: 100%; }
    .loader .animation img {
      width: 100%; }

@keyframes square {
  0% {
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
    filter: invert(1); }
  50% {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    filter: invert(0);
    -webkit-filter: invert(0);
    -moz-filter: invert(0);
    -o-filter: invert(0);
    -ms-filter: invert(0); }
  100% {
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
    opacity: 1;
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
    filter: invert(1); } }
/*------------------------------------------------------------------
BUTTON
--------------------------------------------------------------------*/
.btn {
  background-color: #1c1d1d;
  color: #ffffff;
  border: 2px solid #1c1d1d;
  padding: 15px 20px 10px 20px;
  font-family: 'Josefin';
  font-size: 18px;
  letter-spacing: 2px;
  margin: 20px;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 18px;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .btn:hover {
    background-color: #fff;
    color: #1c1d1d; }

.btn-clear {
  background-color: #ffffff;
  color: #1c1d1d;
  border: 2px solid #1c1d1d;
  padding: 15px 20px 10px 20px;
  font-family: 'Josefin';
  font-size: 18px;
  letter-spacing: 2px;
  margin: 20px;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 18px;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .btn-clear:hover {
    background-color: #1c1d1d;
    color: #FFFFFF; }

/*------------------------------------------------------------------
PANIER SIDEBAR
--------------------------------------------------------------------*/
.panier-sidebar {
  position: fixed;
  height: 100%;
  width: 500px;
  right: 0;
  background-color: #1c1d1d;
  color: #FFF;
  padding: 2%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translateX(500px);
  -o-transform: translateX(500px);
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  top: 0; }
  .panier-sidebar h2 {
    float: left; }
  .panier-sidebar #closePanier {
    float: right;
    margin-top: 25px;
    cursor: pointer; }
  .panier-sidebar hr {
    clear: both; }

.panier-product-list {
  padding: 0;
  float: left;
  width: 100%;
  height: 64%;
  overflow: auto; }
  .panier-product-list li {
    float: left;
    width: 100%;
    height: 139px;
    margin-bottom: 15px; }

.product-panier-title h4 {
  font-family: 'Josefin';
  text-transform: uppercase;
  margin-top: 0px; }

.img-product-panier {
  float: left;
  width: 35%; }

.details-product-panier {
  float: right;
  width: 65%;
  height: 100%;
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-left: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.price-details .qty-box {
  float: left;
  width: 130px;
  height: 40px;
  border: solid 2px #FFF;
  line-height: 40px;
  text-align: center;
  font-family: 'Josefin';
  font-size: 20px; }
  .price-details .qty-box .more {
    float: left;
    width: 35px;
    border-right: solid 2px #FFF;
    font-size: 30px;
    cursor: pointer; }
  .price-details .qty-box .less {
    float: right;
    width: 35px;
    border-left: solid 2px #FFF;
    font-size: 30px;
    cursor: pointer; }
.price-details .price {
  float: right;
  font-family: 'Josefin';
  line-height: 44px;
  font-size: 20px; }

.total-panier {
  font-family: 'Josefin';
  font-size: 20px;
  text-transform: uppercase; }
  .total-panier .total {
    float: right; }

.go-checkout {
  width: 100%;
  text-align: center;
  padding-top: 15px; }
  .go-checkout .btn-clear {
    display: block;
    margin: auto;
    width: 60%; }

.site-move {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.panier-sidebar-open {
  -moz-transform: translateX(-500px);
  -o-transform: translateX(-500px);
  -webkit-transform: translateX(-500px);
  transform: translateX(-500px); }

.panier-sidebar-active {
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0); }

/* RESPONSIVE */
@media (max-width: 768px) {
  .panier-sidebar {
    width: 100%;
    z-index: 1; }

  .panier-product-list li {
    height: 98px; }

  .img-product-panier {
    width: 110px; }

  .product-panier-title h4 {
    font-size: 15px; } }
.aside .img-frame {
  position: relative;
  width: 40%;
  margin: auto; }
  .aside .img-frame img {
    width: 100%; }
  .aside .img-frame .frame {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-family: 'DidotBold';
    text-transform: uppercase;
    transition: 0.5s; }
    .aside .img-frame .frame:hover {
      background-color: rgba(0, 0, 0, 0.5);
      color: white; }

/*------------------------------------------------------------------
PAGES
--------------------------------------------------------------------*/
/*------------------------------------------------------------------
LA BOX
--------------------------------------------------------------------*/
#labox-page {
  /* la box section */
  /* abonnement section */
  /* services section */
  /* responsive design */ }
  #labox-page .labox {
    text-align: center;
    margin-bottom: 40px;
    color: #1c1d1d; }
    #labox-page .labox h1 {
      font-family: 'DidotBold';
      font-size: 50px;
      color: #1c1d1d; }
  #labox-page #content-coffret {
    margin-top: 30px;
    float: left;
    padding: 0; }
    #labox-page #content-coffret li {
      width: 32%;
      float: left;
      margin: 1%;
      height: 830px;
      background-color: #FFF; }
      #labox-page #content-coffret li h2 {
        font-size: 30px;
        margin-top: 0;
        color: #1c1d1d; }
      #labox-page #content-coffret li h3 {
        font-size: 23px;
        color: #1c1d1d;
        margin-top: 15px; }
      #labox-page #content-coffret li p {
        font-family: 'Josefin';
        font-size: 22px;
        font-weight: 100;
        color: #1c1d1d; }
  #labox-page .content-coffret-text {
    padding: 7% 18% 0 18%; }
  #labox-page .number {
    font-family: 'Josefin'; }
  #labox-page .bold {
    font-family: 'Josefin'; }
  #labox-page .abonnement {
    text-align: center;
    color: #1c1d1d; }
    #labox-page .abonnement h2 {
      font-family: 'DidotBold';
      font-size: 50px; }
  #labox-page #abonnement-type {
    margin-top: 30px;
    float: left;
    padding: 0;
    width: 100%; }
    #labox-page #abonnement-type li {
      width: 32%;
      float: left;
      margin: 1%;
      background-color: #FFF;
      padding: 5% 2% 1% 2%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      #labox-page #abonnement-type li h3 {
        font-family: 'Josefin';
        text-transform: uppercase; }
      #labox-page #abonnement-type li h4 {
        font-family: 'Josefin';
        text-transform: uppercase;
        font-weight: 300; }
      #labox-page #abonnement-type li .btn {
        margin-top: 40px;
        margin-bottom: 40px;
        border: solid 2px #1c1d1d;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        display: block;
        width: 60%;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px; }
        #labox-page #abonnement-type li .btn:hover {
          background-color: #fff;
          color: #1c1d1d; }
    #labox-page #abonnement-type .engagement {
      font-family: 'Josefin';
      text-transform: uppercase; }
    #labox-page #abonnement-type .condition {
      font-family: 'Josefin';
      margin-top: 55px;
      font-size: 13px; }
  #labox-page .livraison {
    clear: both;
    padding-top: 30px; }
  #labox-page .price {
    font-size: 40px;
    font-family: 'DidotBold';
    letter-spacing: 5px;
    line-height: 89px; }
  #labox-page .services {
    background-color: #FFFFFF;
    margin-top: 30px;
    text-align: center; }
  #labox-page #services-list {
    padding: 30px 0 20px 0;
    float: left;
    width: 100%; }
    #labox-page #services-list li {
      width: 24%;
      float: left;
      text-align: center; }
      #labox-page #services-list li p {
        font-family: 'Josefin'; }
      #labox-page #services-list li h3 {
        text-transform: uppercase;
        font-family: 'Josefin'; }
      #labox-page #services-list li img {
        height: 80px; }
  #labox-page .cgv-link {
    text-decoration: underline;
    font-family: 'Josefin';
    text-align: center;
    display: block;
    margin-bottom: 30px; }
    #labox-page .cgv-link strong {
      text-transform: uppercase; }
  @media only screen and (max-width: 767px) {
    #labox-page #content-coffret {
      display: block; }
      #labox-page #content-coffret li {
        width: 100%;
        float: left;
        margin: 0;
        height: auto;
        background-color: #FFF; }
    #labox-page .abonnement h2 {
      font-family: 'DidotBold';
      font-size: 40px; }
    #labox-page #abonnement-type {
      display: block; }
      #labox-page #abonnement-type li {
        width: 100%; }
    #labox-page .services {
      background: none; }
    #labox-page #services-list {
      padding: 0; }
    #labox-page #services-list li {
      width: 48%;
      float: left;
      text-align: center;
      margin: 1%;
      background-color: #FFF;
      padding: 3%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 225px; }
    #labox-page #services-list h3 {
      font-size: 15px; }
    #labox-page .slider {
      display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 960px) {
    #labox-page #content-coffret li h2 {
      font-size: 20px;
      margin-top: 0;
      color: #1c1d1d; }
    #labox-page #content-coffret li {
      height: 650px; }
    #labox-page #services-list li h3 {
      font-size: 15px; }
    #labox-page #services-list li p {
      font-size: 13px; }
    #labox-page .price {
      font-size: 30px; } }

/*------------------------------------------------------------------
AVIS
--------------------------------------------------------------------*/
/* TOP HEAD STYLE */
.top-head {
  height: 60px;
  width: 100%;
  background-color: #fafafa; }
  .top-head .left {
    float: left; }
    .top-head .left .btn {
      margin: 0;
      display: block;
      height: 60px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      line-height: 30px;
      float: left; }
  .top-head .right {
    float: right; }

.top-head-social {
  float: left;
  padding-left: 10px; }
  .top-head-social li {
    float: left;
    margin-left: 15px;
    margin-top: -2px; }
    .top-head-social li img {
      opacity: 0.5;
      -moz-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
      .top-head-social li img:hover {
        opacity: 1; }

.top-head-user {
  height: 60px;
  margin: 0; }
  .top-head-user li {
    float: left;
    height: 100%;
    line-height: 60px;
    font-family: 'Josefin';
    padding-right: 20px;
    padding-left: 20px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .top-head-user li:hover {
      background-color: #1c1d1d;
      color: #FFF; }
    .top-head-user li i {
      margin-right: 8px; }

/* AVIS SECTION */
.avis-box {
  margin-top: 30px;
  margin-bottom: 30px; }

.avis-box-header {
  text-align: center; }
  .avis-box-header .didot-italic {
    text-transform: capitalize; }
  .avis-box-header h1 {
    text-transform: uppercase;
    font-size: 50px;
    margin: 10px 0px 10px 0px; }
  .avis-box-header h5 {
    font-family: 'Josefin';
    text-transform: uppercase;
    font-size: 15px; }
  .avis-box-header p {
    width: 45%;
    margin: auto;
    color: #b0b0b0; }

.avis-choice {
  width: 100%;
  background-color: #FFF;
  padding: 2%;
  text-align: center;
  margin-top: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .avis-choice .question {
    text-transform: uppercase;
    font-family: 'JosefinBold';
    letter-spacing: 3px;
    font-size: 18px; }
  .avis-choice .btn {
    padding: 15px 20px 10px 20px; }

.list-choice-avis {
  float: left;
  width: 100%; }

#avis-choice-list {
  padding: 0; }
  #avis-choice-list li {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    line-height: 120px;
    float: left;
    background-color: #1c1d1d;
    color: #FFF;
    font-family: 'DidotItalic';
    margin: 0 15px 0 15px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border: solid 2px #1c1d1d;
    cursor: pointer; }

.choice-button-activate {
  background-color: #fafafa !important;
  color: #1c1d1d !important; }

/* RESPONSIVE */
@media (max-width: 768px) {
  /* TOP HEAD */
  .top-head {
    display: none; }

  .avis-box-header p {
    width: 90%; }

  #avis-choice-list {
    display: inline-block;
    /* non-flexbox browsers */
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center; }
    #avis-choice-list li {
      height: 110px;
      width: 110px;
      border-radius: 55px;
      line-height: 110px;
      margin: 0 24px 30px 24px; }

  .avis-choice .question {
    font-size: 16px; } }
@media (min-width: 768px) and (max-width: 990px) {
  #avis-choice-list li {
    height: 110px;
    width: 110px;
    border-radius: 55px;
    line-height: 110px;
    margin: 0 10px 0 10px; } }
/*------------------------------------------------------------------
PANIER
--------------------------------------------------------------------*/
/* HEAD PAGE TITLE */
.title-page {
  overflow: hidden;
  background-color: #FFF;
  text-align: center; }
  .title-page h1 {
    text-transform: uppercase;
    font-family: 'DidotBold';
    margin-top: 10px;
    margin-bottom: 15px; }
  .title-page .didot-italic {
    text-transform: capitalize; }
  .title-page h5 {
    text-transform: uppercase;
    font-family: 'Josefin';
    margin-top: 25px;
    margin-bottom: 10px; }

/* Mon compte section */
.moncompte-box {
  margin-top: 30px;
  margin-bottom: 50px; }
  .moncompte-box .moncompte-container {
    float: left;
    width: 100%;
    background-color: #FFF; }
  .moncompte-box .left {
    float: left;
    width: 50%;
    padding: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .moncompte-box .right {
    float: right;
    width: 50%;
    padding: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.ariane {
  float: left;
  width: 100%;
  padding: 30px;
  padding-bottom: 0; }

.ariane-link {
  padding: 0; }
  .ariane-link li {
    float: left;
    text-transform: uppercase;
    font-family: 'Josefin';
    font-size: 15px;
    color: #aaaaaa; }
    .ariane-link li:after {
      content: " > ";
      font-family: arial;
      margin: 0 3px 0 3px; }
    .ariane-link li:last-child:after {
      content: ""; }
    .ariane-link li .active {
      color: #000;
      font-family: 'JosefinBold'; }
    .ariane-link li a:hover {
      color: #1c1d1d; }

.left h2 {
  text-transform: uppercase;
  font-family: 'Josefin';
  clear: both;
  margin-bottom: 10px;
  margin-top: 30px; }
.left hr {
  border: none;
  background-color: #fafafa;
  height: 2px; }
.left .use {
  display: none; }

#accountExist {
  color: #aaaaaa;
  font-family: 'Josefin'; }
  #accountExist a {
    color: #000;
    text-decoration: underline; }

.livraisonAddress, .facturationAddress {
  float: left;
  width: 100%;
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.facturationAddress {
  border: solid 1px lightgrey;
  border-top: none;
  padding: 30px;
  padding-top: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.choice-address {
  margin-top: 20px; }
  .choice-address .checkbox {
    border: solid 1px lightgrey;
    margin: 0;
    padding: 10px;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 15px; }
    .choice-address .checkbox:last-child {
      border-top: none; }

.right hr {
  border: none;
  background-color: #fafafa;
  height: 2px;
  clear: both; }
.right .img-product-panier {
  float: left;
  width: 153px; }
.right .details-product-panier {
  display: table;
  float: left;
  width: calc(100% - 153px); }
.right .product-panier-title {
  display: table-cell;
  vertical-align: bottom; }
  .right .product-panier-title h4 {
    float: left;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'JosefinBold';
    width: 65%; }
  .right .product-panier-title h5 {
    float: right;
    margin-top: 0;
    font-size: 20px;
    font-family: 'Josefin';
    margin: 0; }
  .right .product-panier-title h6 {
    float: left;
    width: 100%;
    margin-top: 0px;
    font-family: 'Josefin';
    margin: 0;
    font-size: 16px;
    margin-bottom: 15px; }
  .right .product-panier-title p {
    margin-bottom: 0;
    margin-top: 15px;
    float: left;
    font-family: 'Josefin'; }

.reduction {
  float: left;
  width: 100%;
  margin-bottom: 15px; }
  .reduction .btn {
    height: 33px;
    font-family: 'Josefin';
    font-size: 10px;
    line-height: 11px;
    margin-top: 0px; }

.total-checkout p {
  font-family: 'Josefin';
  font-size: 18px; }
.total-checkout span {
  float: right;
  font-family: 'JosefinBold'; }
.total-checkout #total-commande {
  font-size: 23px; }

.validate {
  width: 50%;
  float: left;
  clear: both;
  padding: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .validate a {
    font-family: 'Josefin'; }
  .validate .btn {
    float: right;
    margin: 0;
    margin-top: -21px;
    width: 230px;
    text-align: center; }

.montant-mobile {
  height: 65px;
  background-color: #1c1d1d;
  color: #FFF;
  text-align: center;
  line-height: 65px;
  display: none; }
  .montant-mobile p {
    margin-top: 0px;
    font-family: 'Josefin';
    text-transform: uppercase;
    font-size: 14px; }

/* RESPONSIVE */
@media (max-width: 768px) {
  .validate .btn {
    float: right;
    margin: 0;
    margin-top: -21px;
    width: 100%;
    text-align: center;
    font-size: 15px; } }
@media (max-width: 990px) {
  .moncompte-box .moncompte-container {
    float: left;
    width: 100%;
    background: none; }

  .montant-mobile {
    display: block; }

  .price-mobile {
    font-size: 25px;
    margin-left: 15px; }

  .ariane {
    display: none; }

  .moncompte-box .left {
    width: 100%;
    padding: 0; }

  .moncompte-box .right {
    width: 100%;
    padding: 0; }

  .email {
    background-color: #FFF;
    padding: 20px; }

  .adress-livraison, .adress-facturation {
    float: left;
    background-color: #FFF;
    width: 100%;
    margin: 15px 0 15px 0;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

  .mail input {
    margin-bottom: 20px; }

  .midInput {
    width: 100%;
    float: left; }

  .telephone, .pays, .entreprise, .save, .choice-address, .total-checkout, .reducButton {
    display: none; }

  .left .use {
    display: block;
    margin-top: 15px; }

  .livraisonAddress, .facturationAddress {
    margin-bottom: 15px; }

  .facturationAddress {
    display: block !important;
    padding: 0;
    border: none; }

  .fullInput {
    float: left; }

  .right .panier-product-list {
    display: none; }

  .reduction input {
    margin-bottom: 15px; }

  .validate {
    width: 100%;
    display: inline-block;
    /* non-flexbox browsers */
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: column-reverse;
    flex-flow: column-reverse;
    -webkit-align-items: center;
    align-items: center; }
    .validate .btn {
      margin-bottom: 20px; }

  .use label {
    font-family: 'Times';
    font-size: 14px;
    color: #aaaaaa;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

  .reduction {
    padding: 20px;
    box-sizing: border-box;
    background-color: #FFF; } }

/*# sourceMappingURL=theme.css.map */
