/*------------------------------------------------------------------
AVIS
--------------------------------------------------------------------*/

/* TOP HEAD STYLE */

.top-head {
  height: 60px;
  width: 100%;
  background-color: $greyBody;
  .left {
    float: left;
    .btn {
      margin: 0;
      display: block;
      height: 60px;
      @include box-sizing(border-box);
      line-height: 30px;
      float: left;
    }
  }
  .right {
    float: right;
  }
}

.top-head-social {
  float: left;
  padding-left: 10px;
  li {
    float: left;
    margin-left: 15px;
    margin-top: -2px;
    img {
      opacity: 0.5;
      @include transition(opacity 0.5s);
      &:hover {
        opacity: 1;
      }
    }
  }
}

.top-head-user {
  height: 60px;
  margin: 0;
  li {
    float: left;
    height: 100%;
    line-height: 60px;
    font-family: 'Josefin';
    padding-right: 20px;
    padding-left: 20px;
    @include transition(all 0.5s);
    &:hover {
      background-color: $black;
      color: #FFF;
      .user-icon {
        background: url('../../img/user-white.png') center center no-repeat;
      }
      .panier-icon {
        background: url('../../img/panier-white.png') center center no-repeat;
      }
    }
    i {
      margin-right: 8px;
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-bottom: 6px;
    }
    .user-icon {
      background: url('../../img/user.png') center center no-repeat;
    }
    .panier-icon {
      background: url('../../img/panier.png') center center no-repeat;
    }
  }
}

/* AVIS SECTION */

.avis-box {
  margin-top: 30px;
  margin-bottom: 30px;
}

.avis-box-header {
  text-align: center;
  .didot-italic {
    text-transform: capitalize;
  }
  h1 {
    text-transform: uppercase;
    font-size: 50px;
    margin: 10px 0px 10px 0px;
  }
  h5 {
    font-family: 'Josefin';
    text-transform: uppercase;
    font-size: 15px;
  }
  p {
    width: 45%;
    margin: auto;
    color: #b0b0b0;
  }
}

.avis-choice {
  width: 100%;
  background-color: #FFF;
  padding: 2%;
  text-align: center;
  margin-top: 50px;
  @include box-sizing(border-box);
  .question {
    text-transform: uppercase;
    font-family: 'JosefinBold';
    letter-spacing: 3px;
    font-size: 18px;
  }
  .btn {
    padding: 15px 20px 10px 20px;
  }
}

.list-choice-avis {
  float: left;
  width: 100%;
  @extend %flexbox;
}

$avisLiSize : 120px;

#avis-choice-list {
  padding: 0;
  li {
    height: $avisLiSize;
    width: $avisLiSize;
    border-radius: $avisLiSize / 2;
    line-height: $avisLiSize;
    float: left;
    background-color: $black;
    color: #FFF;
    font-family: 'DidotItalic';
    margin: 0 15px 0 15px;
    @include transition(all 0.5s);
    border: solid 2px $black;
    cursor: pointer;
  }
}

.choice-button-activate{
  background-color: $greyBody !important;
  color: $black !important;
}

.account-button {
  position: absolute;
  right: 0;
  text-align: center;
  background-color: $black;
  color: #FFF;
  font-family: 'Josefin';
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px;
  display: none;
  img {
    margin-bottom: 5px;
    width: 25px;
  }
}

.account-menu-mobile {
  position: fixed;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $black;
  z-index: 1;
  color: #FFF;
  font-family: 'Josefin';
  text-align: center;
  display: inline-block; /* non-flexbox browsers */
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 5%;
  box-sizing: border-box;
  h5 {
    text-transform: uppercase;
  }
  h2 {
    text-transform: uppercase;
  }
  .didot-italic {
    text-transform: capitalize;
  }
}

.mobile-navigation {
  padding: 0;
  li {
    width: 50%;
    float: left;
    text-transform: uppercase;
    font-size: 11px;
    img {
      margin-bottom: 10px;
      margin-top: 50px;
      width: 60px;
    }
  }
}

#closeMobile {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

/* RESPONSIVE */

$avisLiSizeResp : 110px;
$avisLiSizeResp2 : 110px;

@media (max-width:768px){

  /* TOP HEAD */

  .top-head {
    display: none;
  }

  .account-menu-mobile h5 {
    margin-top: 0;
  }

  .account-menu-mobile h2 {
    margin-bottom: 0;
  }

  .mobile-navigation {
    margin: 0;
  }

  .mobile-navigation li img {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 30px;
  }

  /* AVIS SECTION */

  .avis-box-header p {
    width: 90%;
  }

  #avis-choice-list {
    display: inline-block; /* non-flexbox browsers */
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    li {
      height: $avisLiSizeResp2;
      width: $avisLiSizeResp2;
      border-radius: $avisLiSizeResp2 / 2;
      line-height: $avisLiSizeResp2;
      margin: 0 24px 30px 24px;
    }
  }

  .avis-choice .question {
    font-size: 16px;
  }

  .account-button {display: block;}

}

@media (min-width:768px) and (max-width:990px) {

  #avis-choice-list {
    li {
      height: $avisLiSizeResp;
      width: $avisLiSizeResp;
      border-radius: $avisLiSizeResp / 2;
      line-height: $avisLiSizeResp;
      margin: 0 10px 0 10px;
    }
  }

}
